n8n - Version 4.28.26.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-880, 1280],
      "id": "8a7ebfb0-3cbf-4483-81c0-5970568f2d76",
      "name": "OCC - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.occ.treas.gov/rss/occ_news.xml",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-656, 1088],
      "id": "ebdeb6a8-a6ca-4982-a6cb-490be2dd67cc",
      "name": "OCC News - Fetch Listing"
    },
    {
      "parameters": {
        "url": "https://www.occ.treas.gov/rss/occ_bulletins.xml",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-656, 1280],
      "id": "3b6ccc3d-3c60-4cbe-bf0f-0f24eaf42f30",
      "name": "OCC Bulletins - Fetch Listing"
    },
    {
      "parameters": {
        "url": "https://www.occ.treas.gov/rss/occ-speeches.xml",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-656, 1472],
      "id": "e663fa08-8b5c-434d-8307-6e688a2b3149",
      "name": "OCC Speeches - Fetch Listing"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || '';\n\nif (!xml || xml.length < 200) {\n  throw new Error(`RSS feed unreachable or empty — ${xml.length} chars received`);\n}\n\nif (!xml.includes('<rss') && !xml.includes('<feed')) {\n  throw new Error(`Response is not a valid RSS/Atom feed — source may have changed`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-432, 1280],
      "id": "cb650908-ec14-4fc6-a910-7c8c1f2dbc52",
      "name": "OCC - Validation"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [-208, 1280],
      "id": "73353446-aebb-4a58-be41-8d22bacadbbf",
      "name": "OCC - Parse RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.rss.channel.item || [];\nconst currentYear = new Date().getFullYear();\n\nreturn items\n  .map(i => ({\n    json: {\n      source: \"OCC\",\n      title: (i.title || \"\").trim(),\n      url: (i.link || \"\").trim(),\n      date: i.pubDate || \"\",\n      date_iso: (() => {\n        const d = new Date(i.pubDate);\n        return isNaN(d.getTime()) ? \"\" : d.toISOString().slice(0, 10);\n      })(),\n      description: (i.description || \"\").trim()\n    }\n  }))\n  .filter(item => {\n    if (!item.json.url || !item.json.title) return false;\n    const itemYear = new Date(item.json.date).getFullYear();\n    return itemYear === currentYear;\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [16, 1280],
      "id": "f1b4e198-2445-41f3-af01-9312f9203d51",
      "name": "OCC - Filter Valid Articles"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${encodeURIComponent(url)}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 1280],
      "id": "27468136-7ac1-485c-bfca-213c8dd8c55d",
      "name": "OCC - Filter Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pdf-check",
              "leftValue": "={{ $json.url }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [464, 1280],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "OCC - Is PDF?"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"text/html, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, 1440],
      "id": "e5a72a51-4163-4011-808b-70cc7dcfc80a",
      "name": "OCC - Fetch Article",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.url || '';\nconst isPdf = url.toLowerCase().endsWith('.pdf');\n\nlet articleText = '';\n\nif (isPdf) {\n  // Fetch PDF binary and parse text\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: url,\n    encoding: 'arraybuffer',\n    returnFullResponse: false,\n    headers: {\n      'User-Agent': 'Mozilla/5.0'\n    }\n  });\n\n  const buffer = Buffer.from(response);\n  const pdfParse = require('pdf-parse');\n  const parsed = await pdfParse(buffer);\n\n  articleText = (parsed.text || '')\n    .replace(/\\r/g, '\\n')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/ *\\n */g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n} else {\n  // Parse full HTML fetched by OCC - Fetch Article\n  const html = $json.data || '';\n\n  function stripTags(s) {\n    return s\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n      .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n      .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n      .replace(/<img[^>]*>/gi, ' ')\n      .replace(/<\\/(p|div|section|article|main|br|li|h1|h2|h3|h4|h5|h6)>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ');\n  }\n\n  function decodeHtml(str) {\n    if (!str) return str;\n    return str\n      .replace(/&amp;/g, '&').replace(/&quot;/g, '\"').replace(/&#39;/g, \"'\")\n      .replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n      .replace(/&#8217;/g, \"'\").replace(/&#8220;/g, '\"').replace(/&#8221;/g, '\"')\n      .replace(/&#8211;/g, '-').replace(/&#8212;/g, '-').replace(/&apos;/g, \"'\");\n  }\n\n  const mainMatch = html.match(/<main[\\s\\S]*?<\\/main>/i);\n  const mainHtml = mainMatch ? mainMatch[0] : html;\n\n  articleText = decodeHtml(stripTags(mainHtml))\n    .replace(/Share this/gi, ' ').replace(/Contact the OCC/gi, ' ')\n    .replace(/STAY INFORMED/gi, ' ').replace(/HOW CAN WE HELP YOU\\?/gi, ' ')\n    .replace(/Footer Legal Links[\\s\\S]*$/i, ' ').replace(/Last Updated:.*$/gim, ' ')\n    .replace(/\\[[^\\]]+\\]/g, ' ').replace(/[\\w.-]+@[\\w.-]+\\.\\w+/g, ' ')\n    .replace(/\\u00A0/g, ' ').replace(/\\r/g, '\\n').replace(/[ \\t]+/g, ' ')\n    .replace(/ *\\n */g, '\\n').replace(/\\n{2,}/g, '\\n\\n').trim();\n}\n\nreturn {\n  json: {\n    source: $json.source || '',\n    title: $json.title || '',\n    url: $json.url || '',\n    date: $json.date || '',\n    date_iso: $json.date_iso || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 1280],
      "id": "e2a3e164-e973-453a-8a83-77d6e3c23588",
      "name": "OCC - Clean Article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CRITICAL: Respond ONLY with a raw JSON object. No markdown, no bold, no code fences, no explanation. Your entire response must be parseable by JSON.parse().\n\nCorrect format: {\"category\": \"Regulatory Updates\", \"summary\": \"Sentence one. Sentence two.\"}\n\n---\n\nYou are a compliance intelligence analyst specializing in US financial regulation. Your job is to classify regulatory news articles into exactly ONE category.\n\n## CATEGORIES & DECISION RULES\n\n### 1. BSA/AML/KYC Fines & Enforcement\nChoose this if the article is about a **specific enforcement action, penalty, consent order, settlement, or fine** against a named institution or individual.\nKeywords/signals: fine, penalty, consent order, cease and desist, enforcement action, settlement, charged, convicted, banned, forfeiture, civil money penalty, CMP, MRA, MRIA, suspicious activity failure, willful violations, DOJ action, FinCEN assessment, OCC enforcement, OFAC sanctions violation, violated\n→ If a real company or person is being punished or investigated, pick this.\n\n### 2. Regulatory Updates (NEW RULES, GUIDANCE, DEADLINES ONLY)\nChoose this ONLY if the article announces:\n- A **NEW or AMENDED rule** (final rule, proposed rule, NPRM)\n- **NEW guidance, bulletin, advisory, or notice** that changes compliance requirements\n- A **compliance deadline** tied to a new/amended rule or guidance\n- **Supervisory expectations** or examination procedure changes that impose new requirements\n\nDo NOT pick this for:\n- Announcements about existing programs or initiatives (e.g., \"RRP helped recover $X\")\n- Statistics or results from ongoing programs\n- Reminders to use existing tools/reporting mechanisms\n- Updates to FAQs or minor clarifications of existing rules\n\nKeywords that CONFIRM this is a true update: \"final rule,\" \"proposed rule,\" \"NPRM,\" \"amending,\" \"effective date,\" \"compliance deadline,\" \"new guidance,\" \"updated requirements,\" \"amended regulation,\" \"comment period\"\nKeywords that indicate this is NOT a true update: \"announced,\" \"facilitated,\" \"recovery,\" \"partnership,\" \"initiative,\" \"program results,\" \"reported,\" \"interdicted\"\n\n→ If it's just announcing what an existing program did, pick Industry News & Trends instead.\n\n### 3. Regulator Speeches & Testimony\nChoose this if the article **IS or extensively covers** a speech, remarks, testimony, interview, or public statement by a named regulator or official.\nKeywords/signals: remarks, speech, testified, testimony, before the [Committee/Congress/Senate], keynote, address, stated, said in a speech, comments at [conference], prepared remarks, opening statement\n→ If a regulator is speaking/opining (even about enforcement or rules), pick this — UNLESS the speech is merely quoted briefly inside a broader enforcement or rulemaking story.\n\n### 4. Industry News & Trends\nChoose this if the article covers:\n- **Program announcements or results** (e.g., \"RRP recovered $X\" or \"FinCEN expanded its XYZ program\")\n- **Broader market developments, business news, technology, trends, or analysis**\n- **Statistics, reports, or data releases** about compliance, fraud, or financial crime\n- **Initiatives or partnerships** (without new compliance requirements)\n\nKeywords/signals: report, survey, trend, industry, recovery, results, partnership, initiative, program announcement, expanded, launched, facilitated, interdicted, statistics, data\n→ Default to this for FinCEN program announcements, fraud statistics, or news-style coverage that doesn't impose new compliance obligations.\n\n## CLASSIFICATION PRIORITY (use when multiple categories seem to fit)\n1. BSA/AML/KYC Fines & Enforcement — always wins if a specific penalty/enforcement action is the core subject\n2. Regulatory Updates — wins over other categories IF a new rule, amended rule, new guidance, or compliance deadline is the main subject\n3. Regulator Speeches & Testimony — wins over Industry News if a regulator's public remarks are the focus\n4. Industry News & Trends — use for program announcements, statistics, partnerships, and news that doesn't impose new requirements\n\n## KEY TEST FOR \"REGULATORY UPDATES\"\nAsk yourself: \"Does this article tell a compliance officer they must DO something new or by a certain date?\"\n- YES → Regulatory Updates\n- NO → Industry News & Trends (or Enforcement if punishing someone)\n\n## SUMMARY INSTRUCTIONS\nRespond with a 2-sentence plain-English summary for a compliance officer:\n- Sentence 1: What happened / what was announced\n- Sentence 2: Why it matters or what action (if any) compliance teams should consider\n\n## ARTICLE TO CLASSIFY\nTitle: {{ $json.title }}\n\nFull Text:\n{{ $json.article_clean }}\nURL: {{ $json.url }}\n\n---\n\nCRITICAL REMINDER: Output ONLY this exact format, nothing else:\n{\"category\": \"ONE OF THE 4 CATEGORIES\", \"summary\": \"Sentence one. Sentence two.\"}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1136, 1280],
      "id": "5a153a8f-0758-4d5d-96a1-aeb42aa34539",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1088, 1504],
      "id": "885a46db-26ec-48a5-9637-4d806cac04ec",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1232, 1504],
      "id": "c919c143-2aee-484d-b1f0-2618f1aed175",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const output = $json.output || '';\n\nconst cleaned = output\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim()\n  .replace(/,(\\s*[}\\]])/g, '$1');\n\nconst parsed = JSON.parse(cleaned);\n\nreturn {\n  ...$json,\n  category: parsed.category,\n  summary: parsed.summary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 1280],
      "id": "8bbb652e-d652-4a0f-a7cb-672f955120ca",
      "name": "OCC - AI Output Cleanup"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1568, 1280],
      "id": "349a1c44-a8cd-4804-8d28-f5b776778896",
      "name": "OCC - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "OCC - Daily Trigger": {
      "main": [
        [
          {
            "node": "OCC Speeches - Fetch Listing",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCC Bulletins - Fetch Listing",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCC News - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC News - Fetch Listing": {
      "main": [
        [
          {
            "node": "OCC - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC Bulletins - Fetch Listing": {
      "main": [
        [
          {
            "node": "OCC - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC Speeches - Fetch Listing": {
      "main": [
        [
          {
            "node": "OCC - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Validation": {
      "main": [
        [
          {
            "node": "OCC - Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Parse RSS Feed": {
      "main": [
        [
          {
            "node": "OCC - Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Filter Valid Articles": {
      "main": [
        [
          {
            "node": "OCC - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Filter Duplicates": {
      "main": [
        [
          {
            "node": "OCC - Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Is PDF?": {
      "main": [
        [
          {
            "node": "OCC - Clean Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCC - Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Fetch Article": {
      "main": [
        [
          {
            "node": "OCC - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "OCC - AI Output Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OCC - AI Output Cleanup": {
      "main": [
        [
          {
            "node": "OCC - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab0d433b366dd6c59882c0e6bb7e89c6615872bc4f1bb170e0335001991f53bb"
  }
}
