n8n - Version 4.9.26.json
{
  "name": "Reg Updates",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        256
      ],
      "id": "85a6d1bb-c700-4a9f-b34b-8a61beee7722",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        480
      ],
      "id": "d5a33bb0-fae1-4e07-9ca3-2bf996d63c30",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        688
      ],
      "id": "c1e643c5-3a39-4f6d-9461-fc421d146523",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        912
      ],
      "id": "f3155507-fe39-4fb6-8ceb-e9eb9e813591",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        912
      ],
      "id": "9b7e62d0-7fe0-42a3-bda2-34069591679e",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        1120
      ],
      "id": "10151050-eb1b-4265-9713-3e65f907abea",
      "name": "AI Agent5"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        1344
      ],
      "id": "fc58fc2b-6492-4bbb-922f-572b5496abd0",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        1344
      ],
      "id": "2e65cdaa-edc9-4b23-ae1b-922c92f96aa2",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        1552
      ],
      "id": "5a153a8f-0758-4d5d-96a1-aeb42aa34539",
      "name": "AI Agent6"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        1776
      ],
      "id": "885a46db-26ec-48a5-9637-4d806cac04ec",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        1776
      ],
      "id": "571a01a5-9953-4626-a005-01de9347b352",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\", \"url\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}\nURL: {{ $json.url }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1616,
        1984
      ],
      "id": "92ea94d6-49d7-49d7-9f83-af07a172a9a2",
      "name": "AI Agent7"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1584,
        2208
      ],
      "id": "8c3eacfc-f9fa-4c5d-b685-7d6c0e989719",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1840,
        2208
      ],
      "id": "9e95c69b-a4c7-4b82-bed4-5a479064920f",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\", \"url\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}\nURL: {{ $json.url }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1840,
        2520
      ],
      "id": "64e3125e-9008-46df-9335-1740d55ed11f",
      "name": "AI Agent8"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1808,
        2744
      ],
      "id": "999a5ab2-1175-464c-a381-8bb4e4b3170c",
      "name": "Groq Chat Model8",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2064,
        2744
      ],
      "id": "974e4cab-5994-4daf-b098-cc05c23d3af6",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        2848
      ],
      "id": "f1a0576f-d411-4915-ac17-39845fa8721c",
      "name": "AI Agent9"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        3072
      ],
      "id": "7608fd1c-cd04-42e5-9807-980c48855df5",
      "name": "Groq Chat Model9",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        3072
      ],
      "id": "d59200d7-73c3-4af5-84b2-1c53c8c82243",
      "name": "Structured Output Parser9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        3280
      ],
      "id": "7bff9bba-14a9-45c4-b8d7-7a68adfeb4ca",
      "name": "AI Agent10"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        3504
      ],
      "id": "0d20d7c9-7beb-4629-85b1-ce14c4dcf790",
      "name": "Groq Chat Model10",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        3504
      ],
      "id": "3b11389a-fc60-4945-b7bf-bc17381e4d13",
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        3816
      ],
      "id": "d2c7c4be-30e9-4bf3-9af9-dc97e022aefe",
      "name": "AI Agent11"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        4040
      ],
      "id": "921e9090-35da-4a26-a82a-0021ad9091b7",
      "name": "Groq Chat Model11",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        4040
      ],
      "id": "f2b24b30-5a2a-45ca-801a-2762d801d13d",
      "name": "Structured Output Parser11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this article into exactly ONE of these categories:\n- BSA/AML/KYC Fines & Enforcement\n- Regulatory Updates\n- Regulator Speeches & Testimony\n- Industry News & Trends\n\nAlso write a 2-sentence plain-English summary for a compliance officer.\n\nRespond ONLY as valid JSON: {\"category\": \"...\", \"summary\": \"...\"}\n\nTitle: {{ $json.title }}\nContent: {{ $json.article_clean.slice(0, 3000) }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        4248
      ],
      "id": "75e0e639-08e6-4a0b-9231-fa86d8fa8d93",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        912,
        4472
      ],
      "id": "b336371e-a80c-42c8-b44a-107354ce6a1d",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Regulatory Updates\",\n  \"summary\": \"This is a two sentence summary of the article.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        4472
      ],
      "id": "84ee2461-2ad1-4a21-9d7b-02970f092e25",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "content": "## 127 articles total as of 4/2/26\n## 134 articles total as of 4/3/26\n## 137 articles total as of 4/4/26\n## 142 articles total as of 4/7/26\n## 154 articles total as of 4/8/26\n## 165 articles total as of 4/9/26\n",
        "height": 400,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -448
      ],
      "id": "e4403fc3-9e81-4743-96e9-a9c3f5fffe7e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        480
      ],
      "id": "8b59b5fb-1bf3-4132-bc43-186734d580c1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        480
      ],
      "id": "0d228c83-31c4-405a-bee6-1bced303d5ab",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "9NcSYQQVczo1vYJQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        912
      ],
      "id": "1677131d-1a8d-45ef-998f-685dbf8af02b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        1344
      ],
      "id": "916778a0-c38e-4db7-9bf6-6f29e7df2529",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        1776
      ],
      "id": "c919c143-2aee-484d-b1f0-2618f1aed175",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        2208
      ],
      "id": "bb2013eb-202a-48e1-8514-88b7b00174c1",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1936,
        2744
      ],
      "id": "cbd050e8-742f-4e7b-b020-4c22bf4b95bf",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        3072
      ],
      "id": "de4e3ca5-106e-46e6-a595-43bf35f7871c",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        3504
      ],
      "id": "02cf35c6-8e40-45e1-b91a-14df30f0959d",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        4040
      ],
      "id": "c26607ad-1ba5-4950-819e-05a315fbd678",
      "name": "OpenRouter Chat Model8",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        4472
      ],
      "id": "9713d232-ed58-465a-b440-879287d65da0",
      "name": "OpenRouter Chat Model9",
      "credentials": {
        "openRouterApi": {
          "id": "kM0gU0zI2izjVsJF",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        360
      ],
      "id": "8ba0652b-5ffa-4dec-95b7-8a624ae2a824",
      "name": "FDIC Speeches - Daily Trigger"
    },
    {
      "parameters": {
        "url": "={{\"https://www.fdic.gov/news/speeches?year=\" + new Date().getFullYear()}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        360
      ],
      "id": "0d5b28c1-a7ca-4fbb-8f9f-51d8270d5996",
      "name": "FDIC Speeches - Fetch Listing"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": "main .news-content-view .views-row",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        360
      ],
      "id": "8eadd674-ff28-48e8-a05c-d16b51419816",
      "name": "FDIC Speeches - Extract Rows"
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.rows || [];\nconst base = 'https://www.fdic.gov';\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>');\n}\n\n\n\nreturn rows.map(row => {\n  const hrefMatch = row.match(/<a[^>]+href=\"([^\"]+)\"/i);\n  const titleMatch = row.match(/<p class=\"news-title\">[\\s\\S]*?<span>([\\s\\S]*?)<\\/span>/i);\n  const dateMatch = row.match(/<time[^>]+datetime=\"([^\"]+)\"[^>]*>([\\s\\S]*?)<\\/time>/i);\n\n  const href = hrefMatch ? hrefMatch[1].trim() : null;\n  const title = titleMatch ? decodeHtml(titleMatch[1].replace(/\\s+/g, ' ').trim()) : null;\n  const dateIso = dateMatch ? dateMatch[1].trim() : null;\n  const dateText = dateMatch ? dateMatch[2].replace(/\\s+/g, ' ').trim() : null;\n\n  return {\n    json: {\n      source: 'FDIC',\n      title,\n      url: href ? (href.startsWith('http') ? href : base + href) : null,\n      date: dateText,\n      date_iso: dateIso\n    }\n  };\n}).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        360
      ],
      "id": "3064a04a-fa02-4e72-b444-012147ad40ce",
      "name": "FDIC Speeches - Parse Rows"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        360
      ],
      "id": "222a2af9-89a7-4323-89f0-4df55931c62f",
      "name": "FDIC Speeches - Filter Duplicates"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.url;\nconst title = $json.title;\nconst date = $json.date;\nconst date_iso = $json.date_iso;\nconst source = $json.source;\n\n// Fetch the article directly\nconst html = await this.helpers.httpRequest({\n  method: 'GET',\n  url: url\n}) || '';\n\nfunction stripTags(s) {\n  return s\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<\\/(p|div|section|article|br|li|h1|h2|h3|h4|h5|h6)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n}\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#8217;/g, \"'\")\n    .replace(/&#8220;/g, '\"')\n    .replace(/&#8221;/g, '\"')\n    .replace(/&#8211;/g, '-')\n    .replace(/&#8212;/g, '-');\n}\n\nconst mainMatch = html.match(/<main[\\s\\S]*?<\\/main>/i);\nconst mainHtml = mainMatch ? mainMatch[0] : html;\n\nconst articleText = decodeHtml(stripTags(mainHtml))\n  .replace(/Share on Facebook/gi, ' ')\n  .replace(/Share on X/gi, ' ')\n  .replace(/Follow the FDIC on LinkedIn/gi, ' ')\n  .replace(/Share through email/gi, ' ')\n  .replace(/Print/gi, ' ')\n  .replace(/ATTACHMENT\\(S\\)[\\s\\S]*?CONTACT\\(S\\)/i, ' ')\n  .replace(/CONTACT\\(S\\)[\\s\\S]*$/i, ' ')\n  .replace(/Last Updated:.*$/gim, ' ')\n  .replace(/\\[[^\\]]+\\]/g, ' ')\n  .replace(/[\\w.-]+@[\\w.-]+\\.\\w+/g, ' ')\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/ *\\n */g, '\\n')\n  .replace(/\\n{2,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  json: {\n    source,\n    title,\n    url,\n    date,\n    date_iso,\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        360
      ],
      "id": "5a559c54-15ad-4d1d-8a84-c66651f23879",
      "name": "FDIC Speeches - Clean Article"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        288
      ],
      "id": "b42e92a9-1fc7-473d-8466-4bb7f4508781",
      "name": "FDIC Speeches - Fetch Article"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        360
      ],
      "id": "b106f472-0918-4560-ae83-a68a58210058",
      "name": "FDIC Speeches - Merge"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('FDIC Speeches - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('FDIC Speeches - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('FDIC Speeches - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('FDIC Speeches - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('FDIC Speeches - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        360
      ],
      "id": "199f6054-4d59-490f-9a81-ff8b23c3a820",
      "name": "FDIC Speeches - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        792
      ],
      "id": "bf19e236-4201-4429-ba60-7e9dd977eb02",
      "name": "FDIC News - Daily Trigger"
    },
    {
      "parameters": {
        "url": "={{\"https://www.fdic.gov/news/press-releases?body_value=&title_1=&antibot_key=oYFeUMWNuogMXp18XjtLxFlxEB5JgvXAHuQUeVJlnGY&year=\" + new Date().getFullYear()}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        792
      ],
      "id": "aee207ae-0cb7-40fe-866d-fedae7197a49",
      "name": "FDIC News - Fetch Listing"
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.rows || [];\nconst base = 'https://www.fdic.gov';\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>');\n}\n\nreturn rows.map(row => {\n  const hrefMatch = row.match(/<a[^>]+href=\"([^\"]+)\"/i);\n  const titleMatch = row.match(/<p class=\"news-title\">[\\s\\S]*?<span>([\\s\\S]*?)<\\/span>/i);\n  const dateMatch = row.match(/<time[^>]+datetime=\"([^\"]+)\"[^>]*>([\\s\\S]*?)<\\/time>/i);\n\n  const href = hrefMatch ? hrefMatch[1].trim() : null;\n  const title = titleMatch ? decodeHtml(titleMatch[1].replace(/\\s+/g, ' ').trim()) : null;\n  const dateIso = dateMatch ? dateMatch[1].trim() : null;\n  const dateText = dateMatch ? dateMatch[2].replace(/\\s+/g, ' ').trim() : null;\n\n  return {\n    json: {\n      source: 'FDIC',\n      title,\n      url: href ? (href.startsWith('http') ? href : base + href) : null,\n      date: dateText,\n      date_iso: dateIso\n    }\n  };\n}).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        792
      ],
      "id": "028f08cb-2f79-4d15-9ad9-b684ad99e28b",
      "name": "FDIC News - Parse Rows"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        792
      ],
      "id": "ef30a8e2-8674-45d5-9c74-179199cec874",
      "name": "FDIC News - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        720
      ],
      "id": "5ae872c5-e482-4c68-9638-7bbdc84c572f",
      "name": "FDIC News - Fetch Article"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        792
      ],
      "id": "ab9adaaf-b833-4d19-a52e-e0b33292b451",
      "name": "FDIC News - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\n\nfunction stripTags(s) {\n  return s\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<\\/(p|div|section|article|br|li|h1|h2|h3|h4|h5|h6)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n}\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#8217;/g, \"'\")\n    .replace(/&#8220;/g, '\"')\n    .replace(/&#8221;/g, '\"')\n    .replace(/&#8211;/g, '-')\n    .replace(/&#8212;/g, '-');\n}\n\nconst mainMatch = html.match(/<main[\\s\\S]*?<\\/main>/i);\nconst mainHtml = mainMatch ? mainMatch[0] : html;\n\nconst articleText = decodeHtml(stripTags(mainHtml))\n  .replace(/Share on Facebook/gi, ' ')\n  .replace(/Share on X/gi, ' ')\n  .replace(/Follow the FDIC on LinkedIn/gi, ' ')\n  .replace(/Share through email/gi, ' ')\n  .replace(/Print/gi, ' ')\n  .replace(/ATTACHMENT\\(S\\)[\\s\\S]*?CONTACT\\(S\\)/i, ' ')\n  .replace(/CONTACT\\(S\\)[\\s\\S]*$/i, ' ')\n  .replace(/Last Updated:.*$/gim, ' ')\n  .replace(/\\[[^\\]]+\\]/g, ' ')\n  .replace(/[\\w.-]+@[\\w.-]+\\.\\w+/g, ' ')\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/ *\\n */g, '\\n')\n  .replace(/\\n{2,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  json: {\n    source: $json.source || '',\n    title: $json.title || '',\n    url: $json.url || '',\n    date: $json.date || '',\n    date_iso: $json.date_iso || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        792
      ],
      "id": "2caa5b42-9031-450e-bd9d-8bf9cd1e61ce",
      "name": "FDIC News - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('FDIC News - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('FDIC News - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('FDIC News - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('FDIC News - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('FDIC News - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        792
      ],
      "id": "d23d330d-ab9a-4232-bf62-c21bdb472485",
      "name": "FDIC News - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        1224
      ],
      "id": "c8f3f618-9ad3-47e7-8d65-9ad8f2be6102",
      "name": "FinCEN - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.fincen.gov/news/press-releases?field_date_release_value=2026-01-01&field_date_release_value_1=&field_tags_financial_institution_target_id=All",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        1224
      ],
      "id": "3a4e87b1-af71-4d7b-8acb-387c25302542",
      "name": "FinCEN- Fetch Listing"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": "main .news-content-view .views-row",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        792
      ],
      "id": "a1892684-9282-4de5-b2dc-ffc1c1c3a2b6",
      "name": "FDIC News - Extract Rows"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".fincen-news-article",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        1224
      ],
      "id": "1d58da35-0138-4b21-b746-26ab6413a786",
      "name": "FINCEN - Extract Rows"
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.rows || [];\nconst base = 'https://www.fincen.gov';\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ');\n}\n\nreturn rows.map(row => {\n  const hrefMatch = row.match(/<div class=\"fincen-news-article__title\">\\s*<a href=\"([^\"]+)\"/i);\n  const titleMatch = row.match(/<div class=\"fincen-news-article__title\">\\s*<a[^>]*>([\\s\\S]*?)<\\/a>/i);\n  const timeMatch = row.match(/<time[^>]+datetime=\"([^\"]+)\"[^>]*>([\\s\\S]*?)<\\/time>/i);\n\n  const href = hrefMatch ? hrefMatch[1].trim() : null;\n  const title = titleMatch\n    ? decodeHtml(titleMatch[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim())\n    : null;\n\n  const dateIso = timeMatch ? timeMatch[1].trim().slice(0, 10) : null;\n  const dateText = timeMatch ? timeMatch[2].replace(/\\s+/g, ' ').trim() : null;\n\n  return {\n    json: {\n      source: 'FinCEN',\n      title,\n      url: href ? (href.startsWith('http') ? href : base + href) : null,\n      date: dateText,\n      date_iso: dateIso\n    }\n  };\n}).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1224
      ],
      "id": "2d05966c-12d8-4dfb-a8eb-ad12df969802",
      "name": "FinCEN - Parse Rows"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1224
      ],
      "id": "f01e92c0-d720-47ba-b57b-ac7ad124213a",
      "name": "FinCEN - Filter Duplicates"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        1224
      ],
      "id": "56846d52-1508-4d48-a51b-7e2dc66fee75",
      "name": "FinCEN - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\n\nfunction stripTags(s) {\n  return s\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<\\/(p|div|section|article|br|li|h1|h2|h3|h4|h5|h6)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n}\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#8217;/g, \"'\")\n    .replace(/&#8220;/g, '\"')\n    .replace(/&#8221;/g, '\"')\n    .replace(/&#8211;/g, '-')\n    .replace(/&#8212;/g, '-');\n}\n\nconst mainMatch = html.match(/<main[\\s\\S]*?<\\/main>/i);\nconst mainHtml = mainMatch ? mainMatch[0] : html;\n\nconst articleText = decodeHtml(stripTags(mainHtml))\n  .replace(/Share on Facebook/gi, ' ')\n  .replace(/Share on X/gi, ' ')\n  .replace(/Follow the FDIC on LinkedIn/gi, ' ')\n  .replace(/Share through email/gi, ' ')\n  .replace(/Print/gi, ' ')\n  .replace(/ATTACHMENT\\(S\\)[\\s\\S]*?CONTACT\\(S\\)/i, ' ')\n  .replace(/CONTACT\\(S\\)[\\s\\S]*$/i, ' ')\n  .replace(/Last Updated:.*$/gim, ' ')\n  .replace(/\\[[^\\]]+\\]/g, ' ')\n  .replace(/[\\w.-]+@[\\w.-]+\\.\\w+/g, ' ')\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/ *\\n */g, '\\n')\n  .replace(/\\n{2,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  json: {\n    source: $json.source || '',\n    title: $json.title || '',\n    url: $json.url || '',\n    date: $json.date || '',\n    date_iso: $json.date_iso || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1224
      ],
      "id": "23ebba9a-2f18-46f0-acc9-3f17e64e075a",
      "name": "FinCEN - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('FinCEN - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('FinCEN - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('FinCEN - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('FinCEN - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('FinCEN - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        1224
      ],
      "id": "9a9b9c45-b892-4d62-a136-3499ea48d324",
      "name": "FinCEN - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        1656
      ],
      "id": "8a7ebfb0-3cbf-4483-81c0-5970568f2d76",
      "name": "OCC - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.occ.treas.gov/rss/occ_news.xml",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        1656
      ],
      "id": "ebdeb6a8-a6ca-4982-a6cb-490be2dd67cc",
      "name": "OCC - Fetch Listing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        16,
        1656
      ],
      "id": "73353446-aebb-4a58-be41-8d22bacadbbf",
      "name": "OCC - Parse RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.rss.channel.item || [];\n\nreturn items.map(i => ({\n  json: {\n    source: \"OCC\",\n    title: (i.title || \"\").trim(),\n    url: (i.link || \"\").trim(),\n    date: i.pubDate || \"\",\n    date_iso: (() => {\n      const d = new Date(i.pubDate);\n      return isNaN(d.getTime()) ? \"\" : d.toISOString().slice(0, 10);\n    })(),\n    description: (i.description || \"\").trim()\n  }\n})).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1656
      ],
      "id": "f1b4e198-2445-41f3-af01-9312f9203d51",
      "name": "OCC - Filter Valid Articles"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1656
      ],
      "id": "27468136-7ac1-485c-bfca-213c8dd8c55d",
      "name": "OCC - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        1152
      ],
      "id": "30b864b0-1d41-4926-867d-386d5951dbc6",
      "name": "FinCEN - Fetch Article"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        1656
      ],
      "id": "2ae31697-ec90-447c-8b31-c1bba77ed78b",
      "name": "OCC - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\n\nfunction stripTags(s) {\n  return s\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<\\/(p|div|section|article|main|br|li|h1|h2|h3|h4|h5|h6)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n}\n\nfunction decodeHtml(str) {\n  if (!str) return str;\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#8217;/g, \"'\")\n    .replace(/&#8220;/g, '\"')\n    .replace(/&#8221;/g, '\"')\n    .replace(/&#8211;/g, '-')\n    .replace(/&#8212;/g, '-')\n    .replace(/&apos;/g, \"'\");\n}\n\nconst mainMatch = html.match(/<main[\\s\\S]*?<\\/main>/i);\nconst mainHtml = mainMatch ? mainMatch[0] : html;\n\nconst articleText = decodeHtml(stripTags(mainHtml))\n  .replace(/Share this/gi, ' ')\n  .replace(/Contact the OCC/gi, ' ')\n  .replace(/STAY INFORMED/gi, ' ')\n  .replace(/HOW CAN WE HELP YOU\\?/gi, ' ')\n  .replace(/Footer Legal Links[\\s\\S]*$/i, ' ')\n  .replace(/Last Updated:.*$/gim, ' ')\n  .replace(/\\[[^\\]]+\\]/g, ' ')\n  .replace(/[\\w.-]+@[\\w.-]+\\.\\w+/g, ' ')\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/ *\\n */g, '\\n')\n  .replace(/\\n{2,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  json: {\n    source: $json.source || '',\n    title: $json.title || '',\n    url: $json.url || '',\n    date: $json.date || '',\n    date_iso: $json.date_iso || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1656
      ],
      "id": "e2a3e164-e973-453a-8a83-77d6e3c23588",
      "name": "OCC - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('OCC - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        1656
      ],
      "id": "349a1c44-a8cd-4804-8d28-f5b776778896",
      "name": "OCC - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        1584
      ],
      "id": "e5a72a51-4163-4011-808b-70cc7dcfc80a",
      "name": "OCC - Fetch Article"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        2088
      ],
      "id": "e35986a6-857d-40ee-8f60-233e33d75191",
      "name": "Treasury - Daly Trigger"
    },
    {
      "parameters": {
        "url": "https://home.treasury.gov/news/press-releases",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        2088
      ],
      "id": "52cd7812-5726-4168-9324-1ee48ed68936",
      "name": "Treasury - Fetch Listing"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".content--2col__body > div",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        2088
      ],
      "id": "2ca0ef83-990d-4fce-b82a-a112c984a9ab",
      "name": "Treasury - Extract Rows"
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.rows || [];\n\nfunction extract(re, s) {\n  const m = s.match(re);\n  return m ? m[1].trim() : \"\";\n}\n\nreturn rows.map(row => {\n  const title = extract(/<h3[^>]*class=\"featured-stories__headline\"[^>]*>\\s*<a[^>]*>(.*?)<\\/a>/is, row)\n    .replace(/&amp;/g, \"&\")\n    .replace(/&#039;/g, \"'\")\n    .replace(/&quot;/g, '\"');\n\n  const href = extract(/<h3[^>]*class=\"featured-stories__headline\"[^>]*>\\s*<a[^>]*href=\"([^\"]+)\"/is, row);\n  const date = extract(/<time[^>]*class=\"datetime\"[^>]*>(.*?)<\\/time>/is, row);\n  const dateIso = extract(/<time[^>]*datetime=\"([^\"]+)\"/is, row);\n  const subcategory = extract(/<span class=\"subcategory\">\\s*<a[^>]*>(.*?)<\\/a>/is, row)\n    .replace(/&amp;/g, \"&\")\n    .replace(/&#039;/g, \"'\")\n    .replace(/&quot;/g, '\"');\n\n  return {\n    json: {\n      source: \"Treasury\",\n      title,\n      url: href ? `https://home.treasury.gov${href}` : \"\",\n      date_published: dateIso ? dateIso.slice(0, 10) : \"\",\n      date_display: date,\n      subcategory\n    }\n  };\n}).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2088
      ],
      "id": "184f2469-b5c5-4813-b8f4-593df3bcfecd",
      "name": "Treasury - Parse Rows"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2088
      ],
      "id": "2e8f6750-b9f3-4cd9-b6ab-675001e430be",
      "name": "Treasury - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        2016
      ],
      "id": "444b069b-448b-4a48-95f2-0d443140d343",
      "name": "Treasury - Fetch Article"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".field--name-field-news-body p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        912,
        2016
      ],
      "id": "95fe23d6-c0eb-4a55-981d-f1bc7526e6ab",
      "name": "Treasury - Extract Article HTML"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        2088
      ],
      "id": "9f8aa077-725c-4a4d-b8bb-6627896db395",
      "name": "Treasury - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rows = $json.rows || [];\n\nconst article_clean = rows\n  .map(r => (r || \"\").trim())\n  .filter(Boolean)\n  .join(\"\\n\\n\")\n  .replace(/\\u00A0/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  source: $json.source || '',\n  title: $json.title || '',\n  url: $json.url || '',\n  date_published: $json.date_published || '',\n  date_display: $json.date_display || '',\n  subcategory: $json.subcategory || '',\n  article_clean\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        2088
      ],
      "id": "665984e2-a55e-4754-b53d-315ef63302e9",
      "name": "Treasury - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Treasury - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Treasury - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('Treasury - Clean Article').item.json.date_published }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('Treasury - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Treasury - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2048,
        2088
      ],
      "id": "01871d49-1575-4770-b929-71eda0dcfd9c",
      "name": "Treasury - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 25
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        2520
      ],
      "id": "846baa1a-a22b-4694-8736-8194fa07f403",
      "name": "FINRA - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.finra.org/media-center/newsreleases",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        2520
      ],
      "id": "7c548aea-b56f-40e4-b89e-8c9bf3128b0e",
      "name": "FINRA - Fetch Listing"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".view-content .views-row",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        2520
      ],
      "id": "b4fdb2f6-0aee-41b7-b14f-c3a793d2b34c",
      "name": "FINRA - Extract Rows"
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.rows || [];\n\nfunction extract(re, s) {\n  const m = s.match(re);\n  return m ? m[1].trim() : \"\";\n}\n\nconst currentYear = new Date().getFullYear();\n\nreturn rows\n  .map(row => {\n    const title = extract(/<a[^>]*>(.*?)<\\/a>/i, row)\n      .replace(/&amp;/g, \"&\");\n\n    const href = extract(/<a[^>]*href=\"([^\"]+)\"/i, row);\n\n    const date_display = extract(/<time[^>]*>(.*?)<\\/time>/i, row);\n\n    const date_iso = extract(/datetime=\"([^\"]+)\"/i, row);\n\n    const summary = extract(\n      /<div class=\"views-field-body\">[\\s\\S]*?<div class=\"field-content\">(.*?)<\\/div>/i,\n      row\n    ).replace(/&amp;/g, \"&\");\n\n    const date_published = date_iso ? date_iso.slice(0, 10) : \"\";\n    const parsedDate = date_published ? new Date(date_published) : null;\n\n    return {\n      json: {\n        source: \"FINRA\",\n        title,\n        url: href ? `https://www.finra.org${href}` : \"\",\n        date_published,\n        date_display,\n        summary\n      }\n    };\n  })\n  .filter(item => {\n    const parsedDate = item.json.date_published\n      ? new Date(item.json.date_published)\n      : null;\n\n    return (\n      item.json.url &&\n      item.json.title &&\n      parsedDate &&\n      !isNaN(parsedDate) &&\n      parsedDate.getFullYear() === currentYear\n    );\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2520
      ],
      "id": "11d7be7e-9218-4158-adbd-294bad0f0910",
      "name": "FINRA - Parse Rows"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2520
      ],
      "id": "5c1f93a7-b0ac-4c61-999d-b589903df806",
      "name": "FINRA - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        2448
      ],
      "id": "1a0a8cfa-cd69-4d4e-bd68-f4aad91070be",
      "name": "FINRA - Fetch Article"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "rows",
              "cssSelector": ".field--name-body p, .field--name-body h2, .field--name-body h3, .field--name-body h4, .field--name-body li",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        912,
        2448
      ],
      "id": "f919b603-e6af-41b8-871b-d19765fb2f49",
      "name": "FINRA - Extract Article HTML"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        2520
      ],
      "id": "4d9052e8-e429-4deb-ac9e-86b135cb3f64",
      "name": "FINRA - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rows = $json.rows || [];\nconst title = ($json.title || '').trim();\n\nfunction cleanLine(s) {\n  return (s || '')\n    .replace(/\\u00A0/g, ' ')\n    .replace(/\\[[^\\]]+\\]/g, '')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{2,}/g, '\\n')\n    .trim();\n}\n\nconst cleaned = rows\n  .map(cleanLine)\n  .filter(Boolean);\n\n// Find start of actual article body.\n// Usually starts right after the deck line / first meaningful line after FINRA header junk.\nlet startIdx = cleaned.findIndex(line =>\n  line.includes('WASHINGTON') ||\n  line.startsWith('Impact:') ||\n  line.startsWith('Mission Statement') ||\n  line.startsWith('The Neutral Corner') ||\n  line.startsWith('Board Approved') ||\n  line.startsWith('New Timely Threat Intelligence Sharing Portal') ||\n  line.startsWith('Firm Failed') ||\n  line.startsWith('The Pace of New Investors') ||\n  line.startsWith('Fellowship Program')\n);\n\n// fallback: skip repeated FINRA site header junk\nif (startIdx === -1) {\n  startIdx = cleaned.findIndex(line =>\n    ![\n      'For the Public',\n      'For Industry Professionals',\n      'For Member Firms',\n      'For Case Participants'\n    ].includes(line) &&\n    !line.startsWith('FINRA DATA') &&\n    !line.startsWith('FINPRO GATEWAY') &&\n    !line.startsWith('FINRA GATEWAY') &&\n    !line.startsWith('DR PORTAL') &&\n    !line.startsWith('Need Help?') &&\n    !line.startsWith('Log In to other FINRA systems')\n  );\n}\n\nlet body = cleaned.slice(Math.max(0, startIdx));\n\n// Cut off footer / legal / contact junk\nconst endMarkers = [\n  'About FINRA',\n  'General Inquiries',\n  'Securities Helpline for Seniors',\n  'File a Regulatory Tip',\n  'Arbitration & Mediation',\n  'File an Investor Complaint',\n  'Small Firm Help Line',\n  'Office of the Ombuds',\n  '© 2026 FINRA. All Rights Reserved.',\n  'FINRA is a Registered Trademark'\n];\n\nlet endIdx = body.findIndex(line =>\n  endMarkers.some(marker => line.startsWith(marker))\n);\n\nif (endIdx !== -1) {\n  body = body.slice(0, endIdx);\n}\n\n// Remove title if it appears again inside body\nbody = body.filter(line => line !== title);\n\n// Final cleanup\nconst article_clean = body\n  .join('\\n\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  source: $json.source || 'FINRA',\n  title,\n  url: $json.url || '',\n  date_published: $json.date_published || '',\n  date_display: $json.date_display || '',\n  summary: $json.summary || '',\n  article_clean\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        2520
      ],
      "id": "8b7ddb42-887d-44dd-849d-369cfcb95e4d",
      "name": "FINRA - Clean Article"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const url = (item.json.url || '').trim().toLowerCase();\n\n  if (!url) continue;\n  if (seen.has(url)) continue;\n\n  seen.add(url);\n  out.push(item);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        2520
      ],
      "id": "31314cc0-30a5-4aa5-a6bc-c9a4d25fcba4",
      "name": "FINRA - Clean Article Text"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('FINRA - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('FINRA - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('FINRA - Clean Article').item.json.date_published }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('FINRA - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('FINRA - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2272,
        2520
      ],
      "id": "165164c3-37de-4503-905b-15e93ecd40f2",
      "name": "FINRA - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        2952
      ],
      "id": "9f878474-bcbb-4649-96d7-f8510a99046f",
      "name": "Fed News - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.federalreserve.gov/feeds/press_all.xml",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        2952
      ],
      "id": "22ecf459-e07a-4a60-89f7-5d586fe1ad6c",
      "name": "Fed News - Fetch Listing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        16,
        2952
      ],
      "id": "9a0fadf0-1fcc-4ada-8063-ded96f8b883f",
      "name": "Fed News - Parse RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.rss.channel.item || [];\n\nreturn items.map(i => ({\n  json: {\n    source: \"Federal Reserve\",\n    title: (i.title || \"\").trim(),\n    url: (i.link || \"\").trim(),\n    date: i.pubDate || \"\",\n    date_iso: (() => {\n      const d = new Date(i.pubDate);\n      return isNaN(d.getTime()) ? \"\" : d.toISOString().slice(0, 10);\n    })(),\n    description: (i.description || \"\").trim()\n  }\n})).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2952
      ],
      "id": "5ea12cab-8b2c-4af3-9f9c-0a98e62239bf",
      "name": "Fed News - Filter Valid Articles"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2952
      ],
      "id": "753c4041-2cf2-4277-9ee6-a1f441277ec6",
      "name": "Fed News - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        2880
      ],
      "id": "c564ff76-b133-45b0-8aab-60ab7354353d",
      "name": "Fed News - Fetch Article"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        2952
      ],
      "id": "56f066e1-4506-420a-b499-c5ce3b5ea5fb",
      "name": "Fed News - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&apos;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#160;/g, ' ')\n    .replace(/&#8217;/g, \"'\")\n    .replace(/&#8216;/g, \"'\")\n    .replace(/&#8220;/g, '\"')\n    .replace(/&#8221;/g, '\"')\n    .replace(/&#8211;/g, '-')\n    .replace(/&#8212;/g, '-');\n}\n\nfunction stripTags(s) {\n  return s\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<\\/(p|div|section|article|main|br|li|h1|h2|h3|h4|h5|h6|hr)>/gi, '\\n')\n    .replace(/<sup[\\s\\S]*?<\\/sup>/gi, '')   // remove footnote markers\n    .replace(/<a[^>]*>\\s*Return to text\\s*<\\/a>/gi, '')\n    .replace(/<a[^>]*name=\"f\\d+\"[^>]*><\\/a>/gi, '')\n    .replace(/<a[^>]*name=\"fn\\d+\"[^>]*><\\/a>/gi, '')\n    .replace(/<[^>]+>/g, ' ');\n}\n\n// 1) isolate #article only\nconst articleMatch = html.match(/<div id=\"article\">[\\s\\S]*?<\\/div>\\s*<\\/div>\\s*<\\/div>/i);\nconst articleHtml = articleMatch ? articleMatch[0] : html;\n\n// 2) cut off anything after Last Update if it leaked in\nconst trimmedArticleHtml = articleHtml.split(/<div class=['\"]lastUpdate['\"]/i)[0];\n\n// 3) extract only the main text column after heading\nconst bodyBlockMatch = trimmedArticleHtml.match(\n  /<div class=\"col-xs-12 col-sm-8 col-md-8\">\\s*([\\s\\S]*?)\\s*<\\/div>\\s*<div class=\"col-xs-12 col-sm-4 col-md-4\">/i\n);\n\n// fallback: if that exact structure fails, use everything inside #article\nconst bodyHtml = bodyBlockMatch ? bodyBlockMatch[1] : trimmedArticleHtml;\n\n// 4) decode + strip tags\nlet articleText = decodeHtml(stripTags(bodyHtml))\n  // remove repeated UI junk\n  .replace(/\\bShare\\b/gi, ' ')\n  .replace(/\\bWatch Live\\b/gi, ' ')\n  .replace(/\\bPDF\\b/gi, ' ')\n  .replace(/\\bLast Update:.*$/gim, ' ')\n  // remove footnote headings at bottom\n  .replace(/^\\s*\\d+\\.\\s.*?Return to text\\s*$/gim, ' ')\n  .replace(/\\bReturn to text\\b/gi, ' ')\n  // cleanup\n  .replace(/\\[[^\\]]+\\]/g, ' ')\n  .replace(/[\\w.+-]+@[\\w.-]+\\.\\w+/g, ' ')\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/ *\\n */g, '\\n')\n  .replace(/\\n{2,}/g, '\\n\\n')\n  .trim();\n\n// 5) optional: remove trailing numbered footnotes section entirely\narticleText = articleText\n  .replace(/\\n1\\.\\s.*$/s, '')\n  .trim();\n\nreturn {\n  json: {\n    source: $json.source || '',\n    title: $json.title || '',\n    url: $json.url || '',\n    date: $json.date || '',\n    date_iso: $json.date_iso || '',\n    description: $json.description || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        2952
      ],
      "id": "7323b054-1eaa-4a89-9293-b217a68a37b5",
      "name": "Fed News - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Fed News - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Fed News - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('Fed News - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('Fed News - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Fed News - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        2952
      ],
      "id": "3da8f36a-9728-4b9f-bed9-636d6f2e4c8c",
      "name": "Fed News - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 35
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        3384
      ],
      "id": "11d59a39-4c31-4b09-9dce-65fede848a13",
      "name": "Fed Speeches - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.federalreserve.gov/feeds/speeches_and_testimony.xml",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        3384
      ],
      "id": "75be0576-cf09-433f-a2c8-95cb9db1a205",
      "name": "Fed Speeches - Fetch Listing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        16,
        3384
      ],
      "id": "32add5e5-1ce3-4745-a30f-d944de25599d",
      "name": "Fed Speeches - Parse RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.rss.channel.item || [];\n\nreturn items.map(i => ({\n  json: {\n    source: \"Federal Reserve\",\n    title: (i.title || \"\").trim(),\n    url: (i.link || \"\").trim(),\n    date: i.pubDate || \"\",\n    date_iso: (() => {\n      const d = new Date(i.pubDate);\n      return isNaN(d.getTime()) ? \"\" : d.toISOString().slice(0, 10);\n    })(),\n    description: (i.description || \"\").trim()\n  }\n})).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        3384
      ],
      "id": "60dd19d2-ba35-4a48-b01b-45b07d4843ba",
      "name": "Fed Speeches - Filter Valid Articles"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        3384
      ],
      "id": "a2f1ec84-29d6-4c80-a697-1956a5852273",
      "name": "Fed Speeches - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        3312
      ],
      "id": "36f6b638-1454-4ef8-8bd0-74b9da10ee5a",
      "name": "Fed Speeches - Fetch Article"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        3384
      ],
      "id": "ca4605d7-b350-43c1-9c80-a64471dc480e",
      "name": "Fed Speeches - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\n\nfunction decodeHtml(str) {\n  if (!str) return '';\n  return str\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&apos;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#160;/g, ' ')\n    .replace(/&#8217;/g, \"'\")\n    .replace(/&#8216;/g, \"'\")\n    .replace(/&#8220;/g, '\"')\n    .replace(/&#8221;/g, '\"')\n    .replace(/&#8211;/g, '-')\n    .replace(/&#8212;/g, '-');\n}\n\nfunction stripTags(s) {\n  return s\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<\\/(p|div|section|article|main|br|li|h1|h2|h3|h4|h5|h6|hr)>/gi, '\\n')\n    .replace(/<sup[\\s\\S]*?<\\/sup>/gi, '')   // remove footnote markers\n    .replace(/<a[^>]*>\\s*Return to text\\s*<\\/a>/gi, '')\n    .replace(/<a[^>]*name=\"f\\d+\"[^>]*><\\/a>/gi, '')\n    .replace(/<a[^>]*name=\"fn\\d+\"[^>]*><\\/a>/gi, '')\n    .replace(/<[^>]+>/g, ' ');\n}\n\n// 1) isolate #article only\nconst articleMatch = html.match(/<div id=\"article\">[\\s\\S]*?<\\/div>\\s*<\\/div>\\s*<\\/div>/i);\nconst articleHtml = articleMatch ? articleMatch[0] : html;\n\n// 2) cut off anything after Last Update if it leaked in\nconst trimmedArticleHtml = articleHtml.split(/<div class=['\"]lastUpdate['\"]/i)[0];\n\n// 3) extract only the main text column after heading\nconst bodyBlockMatch = trimmedArticleHtml.match(\n  /<div class=\"col-xs-12 col-sm-8 col-md-8\">\\s*([\\s\\S]*?)\\s*<\\/div>\\s*<div class=\"col-xs-12 col-sm-4 col-md-4\">/i\n);\n\n// fallback: if that exact structure fails, use everything inside #article\nconst bodyHtml = bodyBlockMatch ? bodyBlockMatch[1] : trimmedArticleHtml;\n\n// 4) decode + strip tags\nlet articleText = decodeHtml(stripTags(bodyHtml))\n  // remove repeated UI junk\n  .replace(/\\bShare\\b/gi, ' ')\n  .replace(/\\bWatch Live\\b/gi, ' ')\n  .replace(/\\bPDF\\b/gi, ' ')\n  .replace(/\\bLast Update:.*$/gim, ' ')\n  // remove footnote headings at bottom\n  .replace(/^\\s*\\d+\\.\\s.*?Return to text\\s*$/gim, ' ')\n  .replace(/\\bReturn to text\\b/gi, ' ')\n  // cleanup\n  .replace(/\\[[^\\]]+\\]/g, ' ')\n  .replace(/[\\w.+-]+@[\\w.-]+\\.\\w+/g, ' ')\n  .replace(/\\u00A0/g, ' ')\n  .replace(/\\r/g, '\\n')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/ *\\n */g, '\\n')\n  .replace(/\\n{2,}/g, '\\n\\n')\n  .trim();\n\n// 5) optional: remove trailing numbered footnotes section entirely\narticleText = articleText\n  .replace(/\\n1\\.\\s.*$/s, '')\n  .trim();\n\nreturn {\n  json: {\n    source: $json.source || '',\n    title: $json.title || '',\n    url: $json.url || '',\n    date: $json.date || '',\n    date_iso: $json.date_iso || '',\n    description: $json.description || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        3384
      ],
      "id": "a898b5f1-c278-4e6c-bd37-07d320688122",
      "name": "Fed Speeches - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Fed Speeches - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Fed Speeches - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('Fed Speeches - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('Fed Speeches - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Fed Speeches - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        3384
      ],
      "id": "f2874058-3425-411f-8e7f-4e5a0d6e05b4",
      "name": "Fed Speeches - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        3816
      ],
      "id": "563f5f81-a6e7-48fc-a72a-323b0f370cde",
      "name": "SEC - Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://www.sec.gov/news/pressreleases.rss",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml, text/xml, */*\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        3816
      ],
      "id": "e67b47fe-5c4d-4fb5-aee4-b52c86480f7c",
      "name": "SEC - Fetch Listing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        16,
        3816
      ],
      "id": "f688d52e-2b93-49aa-9e1e-501cded24161",
      "name": "SEC - Parse RSS Feed"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.rss.channel.item || [];\n\nreturn items.map(i => ({\n  json: {\n    source: \"SEC\",\n    title: (i.title || \"\").trim(),\n    url: (i.link || \"\").trim(),\n    date: i.pubDate || \"\",\n    date_iso: (() => {\n      const d = new Date(i.pubDate);\n      return isNaN(d.getTime()) ? \"\" : d.toISOString().slice(0, 10);\n    })(),\n    description: (i.description || \"\").trim()\n  }\n})).filter(item => item.json.url && item.json.title);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        3816
      ],
      "id": "db51f425-25a4-4474-8f75-d951ce63c157",
      "name": "SEC - Filter Valid Articles"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${url}`,\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  if (Array.isArray(response) && response.length === 0) {\n    newArticles.push(item);\n  }\n}\n\nreturn newArticles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        3816
      ],
      "id": "aeeedc83-56e8-4b40-afa3-df9b3530871e",
      "name": "SEC - Filter Duplicates"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "FK fkavalionak@applebank.com"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        3744
      ],
      "id": "e076590b-6416-4f93-96c5-1a71d4639af2",
      "name": "SEC - Fetch Article"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        3816
      ],
      "id": "5a23772a-0dd6-4770-aa75-faf300f69f78",
      "name": "SEC - Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function decodeHtml(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/&nbsp;|&#160;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;|&#34;/g, '\"')\n    .replace(/&#39;|&apos;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&#8217;|&#x2019;/g, \"'\")\n    .replace(/&#8216;|&#x2018;/g, \"'\")\n    .replace(/&#8220;|&#x201C;/g, '\"')\n    .replace(/&#8221;|&#x201D;/g, '\"')\n    .replace(/&#8211;|&#x2013;/g, '–')\n    .replace(/&#8212;|&#x2014;/g, '—')\n    .replace(/&#(\\d+);/g, (_, n) => String.fromCharCode(Number(n)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, h) => String.fromCharCode(parseInt(h, 16)));\n}\n\nfunction stripTags(html) {\n  return String(html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n    .replace(/<img[^>]*>/gi, ' ')\n    .replace(/<sup[\\s\\S]*?<\\/sup>/gi, '')\n    .replace(/<\\/(p|div|section|article|main|header|footer|aside|li|ul|ol|h1|h2|h3|h4|h5|h6|blockquote|br)>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n}\n\nfunction cleanText(str) {\n  return decodeHtml(stripTags(str))\n    .replace(/\\r/g, '\\n')\n    .replace(/\\u00a0/g, ' ')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/ *\\n */g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction extractFirst(html, regex) {\n  const m = String(html || '').match(regex);\n  return m ? m[1] : '';\n}\n\nfunction normalizeParagraph(p) {\n  return cleanText(p)\n    .replace(/\\s+([,.;:!?])/g, '$1')\n    .replace(/\\(\\s+/g, '(')\n    .replace(/\\s+\\)/g, ')')\n    .trim();\n}\n\nconst html =\n  item.json.data ||\n  item.json.body ||\n  item.json.html ||\n  item.json.content ||\n  '';\n\nlet bodyHtml =\n  extractFirst(\n    html,\n    /<div[^>]*class=\"[^\"]*field--name-body[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>\\s*<div[^>]*class=\"[^\"]*field--name-dynamic-twig-fieldnode-press-release-end/i\n  );\n\nif (!bodyHtml) {\n  bodyHtml =\n    extractFirst(\n      html,\n      /<div[^>]*class=\"[^\"]*field--name-body[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>\\s*<\\/div>\\s*<div[^>]*class=\"[^\"]*date-modified/i\n    );\n}\n\nif (!bodyHtml) {\n  bodyHtml =\n    extractFirst(\n      html,\n      /<div[^>]*class=\"[^\"]*field--name-body[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i\n    );\n}\n\nconst bodyPieces = [];\nconst re = /<(p|li)[^>]*>([\\s\\S]*?)<\\/\\1>/gi;\nlet m;\n\nwhile ((m = re.exec(bodyHtml)) !== null) {\n  const tag = m[1].toLowerCase();\n  const txt = normalizeParagraph(m[2]);\n  if (!txt) continue;\n\n  if (/^###$/.test(txt)) continue;\n  if (/^Last Reviewed or Updated:/i.test(txt)) continue;\n  if (/^Return to top$/i.test(txt)) continue;\n  if (/^Resources$/i.test(txt)) continue;\n  if (/^Stay connected\\. Sign up for email updates\\./i.test(txt)) continue;\n  if (/^Your email address$/i.test(txt)) continue;\n  if (/^Sign Up$/i.test(txt)) continue;\n\n  bodyPieces.push(tag === 'li' ? '• ' + txt : txt);\n}\n\nlet articleText = bodyPieces.join('\\n\\n').trim();\n\nif (!articleText) {\n  articleText = cleanText(bodyHtml || html);\n}\n\narticleText = articleText\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  json: {\n    source: item.json.source || '',\n    title: item.json.title || '',\n    url: item.json.url || '',\n    date: item.json.date || '',\n    date_iso: item.json.date_iso || '',\n    article_clean: articleText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        3816
      ],
      "id": "a12f1899-f4ee-473c-ab40-67cc919d1d6b",
      "name": "SEC - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $('SEC - Clean Article').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('SEC - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ $('SEC - Clean Article').item.json.date_iso }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('SEC - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('SEC - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        3816
      ],
      "id": "ef146b31-b3e5-4899-9f8c-088214ae95c4",
      "name": "SEC - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        4248
      ],
      "id": "e4e45b28-f198-437b-8c06-60d11eed209a",
      "name": "FFIEC - Daily Trigger"
    },
    {
      "parameters": {
        "query": "site:ffiec.gov press releases",
        "options": {
          "topic": "news",
          "search_depth": "basic",
          "include_domains": [
            "https://www.ffiec.gov"
          ],
          "start_date": "={{ new Date().getFullYear() + '-01-01' }}"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -432,
        4248
      ],
      "id": "6b193c43-9afe-42c0-9862-8107ccd62978",
      "name": "FFIEC - Tavily Search",
      "credentials": {
        "tavilyApi": {
          "id": "2D3bq0TUYDX0rJEi",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $json.results\n  .map(r => ({\n    json: {\n      title: r.title?.trim(),\n      url: r.url,\n      published_date: r.published_date,\n      content: r.content\n    }\n  }))\n  .filter(item => {\n    const date = item.json.published_date || \"\";\n    const url = item.json.url || \"\";\n    const title = item.json.title || \"\";\n\n    const year = new Date(date).getFullYear();\n\n    return (\n      year === 2026 &&\n      url.includes(\"/2026/\") &&\n      !title.toLowerCase().includes(\"home\") &&\n      !title.toLowerCase().includes(\"press releases & announcements\")\n    );\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        4248
      ],
      "id": "e51647d5-bbcf-4cc0-88b5-cbe72ac2a39a",
      "name": "FFIEC - Parse Search Results"
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ $json.url }}"
        ],
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        240,
        4248
      ],
      "id": "bc5bcbcb-f286-45aa-a311-aed4a229579c",
      "name": "FFIEC - Tavily Extract",
      "retryOnFail": true,
      "credentials": {
        "tavilyApi": {
          "id": "2D3bq0TUYDX0rJEi",
          "name": "Tavily account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newArticles = [];\n\nfunction getUrl(item) {\n  return (\n    item.json?.results?.[0]?.url ||\n    item.json?.failed_results?.[0]?.url ||\n    ''\n  ).trim();\n}\n\nfor (const item of items) {\n  const url = getUrl(item);\n\n  if (!url) {\n    continue;\n  }\n\n  const encodedUrl = encodeURIComponent(url);\n\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://gpdzacoeobzmmytfeegf.supabase.co/rest/v1/items?select=url&url=eq.${encodedUrl}`,\n    headers: {\n      apikey: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU',\n      Authorization: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwZHphY29lb2J6bW15dGZlZWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODkyNjYsImV4cCI6MjA5MDM2NTI2Nn0.wrYb0rLuGqHV8wDjm7tfpzJFL02wVYY-Cnz_dUF4NjU'\n    }\n  });\n\n  const exists = Array.isArray(response) && response.length > 0;\n\n  if (!exists) {\n    newArticles.push({\n      json: {\n        ...item.json,\n        url\n      }\n    });\n  }\n}\n\nreturn newArticles;\n\n\n\n\n\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        4248
      ],
      "id": "d66bec7b-2daa-4807-b254-09c2d4b890d0",
      "name": "FFIEC - Filter Duplicates"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(text) {\n  return String(text || '')\n    .replace(/\\r/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction stripMarkdownArtifacts(text) {\n  return String(text || '')\n    // images like ![](...)\n    .replace(/!\\[[^\\]]*\\]\\([^)]+\\)/g, '')\n    // markdown links [text](url) -> text\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '$1')\n    // angle-bracket links <https://...> -> https://...\n    .replace(/<([^>]+)>/g, '$1')\n    .trim();\n}\n\nfunction extractAnnouncementBody(raw, fallbackTitle = '') {\n  let text = cleanText(stripMarkdownArtifacts(raw));\n\n  // Find the real title area\n  const titlePatterns = [\n    new RegExp(`##\\\\s+${fallbackTitle.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}`, 'i'),\n    /^##\\s+.+$/m\n  ];\n\n  let startIdx = -1;\n  for (const pattern of titlePatterns) {\n    const match = text.match(pattern);\n    if (match) {\n      startIdx = match.index;\n      break;\n    }\n  }\n\n  if (startIdx >= 0) {\n    text = text.slice(startIdx);\n  }\n\n  // Remove generic headings at top\n  text = text\n    .replace(/^#\\s+Announcement\\s*/i, '')\n    .replace(/^##\\s+Breadcrumb\\s*/i, '')\n    .trim();\n\n  // Cut footer / boilerplate\n  const endMarkers = [\n    /\\n\\s*\\[?\\!?FFIEC logo/i,\n    /\\n\\s*An Official website of the/i,\n    /\\n\\s*\\[?\\!?Home\\]?/i,\n    /\\n\\s*Official websites use \\.gov/i,\n    /\\n\\s*Secure \\.gov websites use HTTPS/i\n  ];\n\n  let endIdx = text.length;\n  for (const marker of endMarkers) {\n    const match = text.match(marker);\n    if (match && match.index < endIdx) {\n      endIdx = match.index;\n    }\n  }\n  text = text.slice(0, endIdx).trim();\n\n  // Remove leftover UI boilerplate lines\n  const badLinePatterns = [\n    /^An official website of the United States government$/i,\n    /^Here'?s how you know$/i,\n    /^\\*\\*Official websites use \\.gov\\*\\*$/i,\n    /^A \\*\\*\\.gov\\*\\* website belongs to an official government organization in the United States\\.$/i,\n    /^\\*\\*Secure \\.gov websites use HTTPS\\*\\*$/i,\n    /^A \\*\\*lock\\*\\*.*$/i,\n    /^Lock$/i,\n    /^Locked padlock$/i,\n    /^Home$/i,\n    /^close$/i,\n    /^Search$/i,\n    /^Announcement$/i,\n    /^Breadcrumb$/i\n  ];\n\n  const lines = text\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(Boolean)\n    .filter(line => !badLinePatterns.some(re => re.test(line)));\n\n  // Remove duplicate first title marker \"## Title\"\n  let article = lines.join('\\n\\n')\n    .replace(/^##\\s+/m, '')\n    .trim();\n\n  // Normalize title suffix\n  article = article.replace(/\\s+\\|\\s+FFIEC$/i, '').trim();\n\n  return cleanText(article);\n}\n\nreturn items.map(item => {\n  const result = item.json.results?.[0] || {};\n  const raw = result.raw_content || '';\n  const title = (result.title || '').replace(/\\s+\\|\\s+FFIEC$/i, '').trim();\n  const url = result.url || '';\n\n  const article_clean = extractAnnouncementBody(raw, title);\n\n  return {\n    json: {\n      title,\n      url,\n      article_clean\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        4248
      ],
      "id": "08b7759b-bfc5-4a22-83be-bed229fcdc3d",
      "name": "FFIEC - Clean Article"
    },
    {
      "parameters": {
        "tableId": "items",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "FFIEC"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('FFIEC - Clean Article').item.json.url }}"
            },
            {
              "fieldId": "date_published",
              "fieldValue": "={{ new Date($('FFIEC - Parse Search Results').item.json.published_date).toISOString().split('T')[0] }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.output.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output.summary }}"
            },
            {
              "fieldId": "full_text",
              "fieldValue": "={{ $('FFIEC - Clean Article').item.json.article_clean }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('FFIEC - Clean Article').item.json.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        4248
      ],
      "id": "7d495b32-a29d-4d3c-b503-eb03acf05cd2",
      "name": "FFIEC - Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "U1H3KhSoVVYfhWtr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || '';\n\n// Check 1 — did we get anything at all?\nif (!html || html.length === 0) {\n  throw new Error(`Source unreachable — empty response received`);\n}\n\n// Check 2 — is the response suspiciously short?\n// A real listing page is always several KB at minimum\nif (html.length < 500) {\n  throw new Error(`Suspicious response — only ${html.length} chars received. Possible redirect or bot block.`);\n}\n\n// Check 3 — are we getting an error page?\nconst errorSignals = [\n  'Access Denied',\n  '403 Forbidden', \n  '404 Not Found',\n  'Page Not Found',\n  'Service Unavailable',\n  'Too Many Requests'\n];\n\nfor (const signal of errorSignals) {\n  if (html.includes(signal)) {\n    throw new Error(`Source returned error page: \"${signal}\" detected in response`);\n  }\n}\n\n// All good — pass through\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        360
      ],
      "id": "03f3dda7-6c9b-4ab0-afa2-afa8abb6594d",
      "name": "FDIC Speeches - Validation"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || '';\n\n// Check 1 — did we get anything at all?\nif (!html || html.length === 0) {\n  throw new Error(`Source unreachable — empty response received`);\n}\n\n// Check 2 — is the response suspiciously short?\n// A real listing page is always several KB at minimum\nif (html.length < 500) {\n  throw new Error(`Suspicious response — only ${html.length} chars received. Possible redirect or bot block.`);\n}\n\n// Check 3 — are we getting an error page?\nconst errorSignals = [\n  'Access Denied',\n  '403 Forbidden', \n  '404 Not Found',\n  'Page Not Found',\n  'Service Unavailable',\n  'Too Many Requests'\n];\n\nfor (const signal of errorSignals) {\n  if (html.includes(signal)) {\n    throw new Error(`Source returned error page: \"${signal}\" detected in response`);\n  }\n}\n\n// All good — pass through\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        792
      ],
      "id": "9b7cc6e3-ba5b-4ed8-a557-0ca132aa7b53",
      "name": "FDIC News - Validation"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || '';\n\n// Check 1 — did we get anything at all?\nif (!html || html.length === 0) {\n  throw new Error(`Source unreachable — empty response received`);\n}\n\n// Check 2 — is the response suspiciously short?\n// A real listing page is always several KB at minimum\nif (html.length < 500) {\n  throw new Error(`Suspicious response — only ${html.length} chars received. Possible redirect or bot block.`);\n}\n\n// Check 3 — are we getting an error page?\nconst errorSignals = [\n  'Access Denied',\n  '403 Forbidden', \n  '404 Not Found',\n  'Page Not Found',\n  'Service Unavailable',\n  'Too Many Requests'\n];\n\nfor (const signal of errorSignals) {\n  if (html.includes(signal)) {\n    throw new Error(`Source returned error page: \"${signal}\" detected in response`);\n  }\n}\n\n// All good — pass through\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1224
      ],
      "id": "1499d4cc-a89a-42c6-8c24-e742e4bb119f",
      "name": "FinCEN - Validation"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || '';\n\n// Check 1 — did we get anything at all?\nif (!html || html.length === 0) {\n  throw new Error(`Source unreachable — empty response received`);\n}\n\n// Check 2 — is the response suspiciously short?\n// A real listing page is always several KB at minimum\nif (html.length < 500) {\n  throw new Error(`Suspicious response — only ${html.length} chars received. Possible redirect or bot block.`);\n}\n\n// Check 3 — are we getting an error page?\nconst errorSignals = [\n  'Access Denied',\n  '403 Forbidden', \n  '404 Not Found',\n  'Page Not Found',\n  'Service Unavailable',\n  'Too Many Requests'\n];\n\nfor (const signal of errorSignals) {\n  if (html.includes(signal)) {\n    throw new Error(`Source returned error page: \"${signal}\" detected in response`);\n  }\n}\n\n// All good — pass through\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2088
      ],
      "id": "c42b94e0-d13d-4d22-883d-43073b3cb46a",
      "name": "Treasury - Validation"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || '';\n\n// Check 1 — did we get anything at all?\nif (!html || html.length === 0) {\n  throw new Error(`Source unreachable — empty response received`);\n}\n\n// Check 2 — is the response suspiciously short?\n// A real listing page is always several KB at minimum\nif (html.length < 500) {\n  throw new Error(`Suspicious response — only ${html.length} chars received. Possible redirect or bot block.`);\n}\n\n// Check 3 — are we getting an error page?\nconst errorSignals = [\n  'Access Denied',\n  '403 Forbidden', \n  '404 Not Found',\n  'Page Not Found',\n  'Service Unavailable',\n  'Too Many Requests'\n];\n\nfor (const signal of errorSignals) {\n  if (html.includes(signal)) {\n    throw new Error(`Source returned error page: \"${signal}\" detected in response`);\n  }\n}\n\n// All good — pass through\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2520
      ],
      "id": "f34a44da-5c56-4bec-a19e-f48b2df50747",
      "name": "FinRA - Validation"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || '';\n\nif (!xml || xml.length < 200) {\n  throw new Error(`RSS feed unreachable or empty — ${xml.length} chars received`);\n}\n\nif (!xml.includes('<rss') && !xml.includes('<feed')) {\n  throw new Error(`Response is not a valid RSS/Atom feed — source may have changed`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2952
      ],
      "id": "9f154c46-f7ef-4468-95bd-1862fa733017",
      "name": "Fed News - Validation"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || '';\n\nif (!xml || xml.length < 200) {\n  throw new Error(`RSS feed unreachable or empty — ${xml.length} chars received`);\n}\n\nif (!xml.includes('<rss') && !xml.includes('<feed')) {\n  throw new Error(`Response is not a valid RSS/Atom feed — source may have changed`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        3384
      ],
      "id": "49b0a70b-80fb-4807-a507-738927029d46",
      "name": "Fed Speeches - Validation"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || '';\n\nif (!xml || xml.length < 200) {\n  throw new Error(`RSS feed unreachable or empty — ${xml.length} chars received`);\n}\n\nif (!xml.includes('<rss') && !xml.includes('<feed')) {\n  throw new Error(`Response is not a valid RSS/Atom feed — source may have changed`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        3816
      ],
      "id": "852bbfdb-dc21-4acd-932b-9979f8008b0c",
      "name": "SEC - Validation"
    },
    {
      "parameters": {
        "jsCode": "const xml = $json.data || '';\n\nif (!xml || xml.length < 200) {\n  throw new Error(`RSS feed unreachable or empty — ${xml.length} chars received`);\n}\n\nif (!xml.includes('<rss') && !xml.includes('<feed')) {\n  throw new Error(`Response is not a valid RSS/Atom feed — source may have changed`);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1656
      ],
      "id": "cb650908-ec14-4fc6-a910-7c8c1f2dbc52",
      "name": "OCC - Validation"
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || [];\n\n// Check 1 — did Tavily return anything at all?\nif (!results || results.length === 0) {\n  throw new Error(`Tavily Search returned 0 results — API may be down, rate limited, or query failed`);\n}\n\n// Check 2 — do results look valid?\nconst validResults = results.filter(r => r.url && r.title);\nif (validResults.length === 0) {\n  throw new Error(`Tavily returned results but none have valid URLs or titles — response may be malformed`);\n}\n\n// All good — pass through\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        4248
      ],
      "id": "189fdd50-9763-466a-834c-519f6e802a93",
      "name": "FFIEC - Validation"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "FDIC News - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "FinCEN - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "OCC - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Treasury - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "FINRA - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent9": {
      "main": [
        [
          {
            "node": "Fed News - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent10": {
      "main": [
        [
          {
            "node": "Fed Speeches - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent11": {
      "main": [
        [
          {
            "node": "SEC - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser11": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "FFIEC - Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent9",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent10",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent11",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "FDIC Speeches - Daily Trigger": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Fetch Listing": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Extract Rows": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Parse Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Parse Rows": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Filter Duplicates": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "FDIC Speeches - Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Fetch Article": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Merge": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Daily Trigger": {
      "main": [
        [
          {
            "node": "FDIC News - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Fetch Listing": {
      "main": [
        [
          {
            "node": "FDIC News - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Parse Rows": {
      "main": [
        [
          {
            "node": "FDIC News - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Filter Duplicates": {
      "main": [
        [
          {
            "node": "FDIC News - Fetch Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "FDIC News - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FDIC News - Fetch Article": {
      "main": [
        [
          {
            "node": "FDIC News - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Merge": {
      "main": [
        [
          {
            "node": "FDIC News - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinCEN - Daily Trigger": {
      "main": [
        [
          {
            "node": "FinCEN- Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinCEN- Fetch Listing": {
      "main": [
        [
          {
            "node": "FinCEN - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Extract Rows": {
      "main": [
        [
          {
            "node": "FDIC News - Parse Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINCEN - Extract Rows": {
      "main": [
        [
          {
            "node": "FinCEN - Parse Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinCEN - Parse Rows": {
      "main": [
        [
          {
            "node": "FinCEN - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinCEN - Filter Duplicates": {
      "main": [
        [
          {
            "node": "FinCEN - Fetch Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "FinCEN - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FinCEN - Merge": {
      "main": [
        [
          {
            "node": "FinCEN - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinCEN - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Daily Trigger": {
      "main": [
        [
          {
            "node": "OCC - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Fetch Listing": {
      "main": [
        [
          {
            "node": "OCC - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Parse RSS Feed": {
      "main": [
        [
          {
            "node": "OCC - Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Filter Valid Articles": {
      "main": [
        [
          {
            "node": "OCC - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Filter Duplicates": {
      "main": [
        [
          {
            "node": "OCC - Fetch Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCC - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FinCEN - Fetch Article": {
      "main": [
        [
          {
            "node": "FinCEN - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Merge": {
      "main": [
        [
          {
            "node": "OCC - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Fetch Article": {
      "main": [
        [
          {
            "node": "OCC - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Daly Trigger": {
      "main": [
        [
          {
            "node": "Treasury - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Fetch Listing": {
      "main": [
        [
          {
            "node": "Treasury - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Extract Rows": {
      "main": [
        [
          {
            "node": "Treasury - Parse Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Parse Rows": {
      "main": [
        [
          {
            "node": "Treasury - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Filter Duplicates": {
      "main": [
        [
          {
            "node": "Treasury - Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Treasury - Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Fetch Article": {
      "main": [
        [
          {
            "node": "Treasury - Extract Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Extract Article HTML": {
      "main": [
        [
          {
            "node": "Treasury - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Merge": {
      "main": [
        [
          {
            "node": "Treasury - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Daily Trigger": {
      "main": [
        [
          {
            "node": "FINRA - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Fetch Listing": {
      "main": [
        [
          {
            "node": "FinRA - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Extract Rows": {
      "main": [
        [
          {
            "node": "FINRA - Parse Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Parse Rows": {
      "main": [
        [
          {
            "node": "FINRA - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Filter Duplicates": {
      "main": [
        [
          {
            "node": "FINRA - Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "FINRA - Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Fetch Article": {
      "main": [
        [
          {
            "node": "FINRA - Extract Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Extract Article HTML": {
      "main": [
        [
          {
            "node": "FINRA - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Merge": {
      "main": [
        [
          {
            "node": "FINRA - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Clean Article": {
      "main": [
        [
          {
            "node": "FINRA - Clean Article Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINRA - Clean Article Text": {
      "main": [
        [
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Daily Trigger": {
      "main": [
        [
          {
            "node": "Fed News - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Fetch Listing": {
      "main": [
        [
          {
            "node": "Fed News - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Parse RSS Feed": {
      "main": [
        [
          {
            "node": "Fed News - Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Filter Valid Articles": {
      "main": [
        [
          {
            "node": "Fed News - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Filter Duplicates": {
      "main": [
        [
          {
            "node": "Fed News - Fetch Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fed News - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fed News - Fetch Article": {
      "main": [
        [
          {
            "node": "Fed News - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Merge": {
      "main": [
        [
          {
            "node": "Fed News - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Daily Trigger": {
      "main": [
        [
          {
            "node": "Fed Speeches - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Fetch Listing": {
      "main": [
        [
          {
            "node": "Fed Speeches - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Parse RSS Feed": {
      "main": [
        [
          {
            "node": "Fed Speeches - Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Filter Valid Articles": {
      "main": [
        [
          {
            "node": "Fed Speeches - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Filter Duplicates": {
      "main": [
        [
          {
            "node": "Fed Speeches - Fetch Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fed Speeches - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fed Speeches - Fetch Article": {
      "main": [
        [
          {
            "node": "Fed Speeches - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Merge": {
      "main": [
        [
          {
            "node": "Fed Speeches - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Daily Trigger": {
      "main": [
        [
          {
            "node": "SEC - Fetch Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Fetch Listing": {
      "main": [
        [
          {
            "node": "SEC - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Parse RSS Feed": {
      "main": [
        [
          {
            "node": "SEC - Filter Valid Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Filter Valid Articles": {
      "main": [
        [
          {
            "node": "SEC - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Filter Duplicates": {
      "main": [
        [
          {
            "node": "SEC - Fetch Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEC - Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SEC - Fetch Article": {
      "main": [
        [
          {
            "node": "SEC - Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Merge": {
      "main": [
        [
          {
            "node": "SEC - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Daily Trigger": {
      "main": [
        [
          {
            "node": "FFIEC - Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Tavily Search": {
      "main": [
        [
          {
            "node": "FFIEC - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Parse Search Results": {
      "main": [
        [
          {
            "node": "FFIEC - Tavily Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Tavily Extract": {
      "main": [
        [
          {
            "node": "FFIEC - Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Filter Duplicates": {
      "main": [
        [
          {
            "node": "FFIEC - Clean Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Clean Article": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC Speeches - Validation": {
      "main": [
        [
          {
            "node": "FDIC Speeches - Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FDIC News - Validation": {
      "main": [
        [
          {
            "node": "FDIC News - Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinCEN - Validation": {
      "main": [
        [
          {
            "node": "FINCEN - Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Treasury - Validation": {
      "main": [
        [
          {
            "node": "Treasury - Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinRA - Validation": {
      "main": [
        [
          {
            "node": "FINRA - Extract Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed News - Validation": {
      "main": [
        [
          {
            "node": "Fed News - Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fed Speeches - Validation": {
      "main": [
        [
          {
            "node": "Fed Speeches - Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC - Validation": {
      "main": [
        [
          {
            "node": "SEC - Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCC - Validation": {
      "main": [
        [
          {
            "node": "OCC - Parse RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFIEC - Validation": {
      "main": [
        [
          {
            "node": "FFIEC - Parse Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Pis96lMoO131qqrj",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "54b5f97a-8de4-4e68-8768-7d146f525a93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab0d433b366dd6c59882c0e6bb7e89c6615872bc4f1bb170e0335001991f53bb"
  },
  "id": "vMTRA7VSccZ0zfhb",
  "tags": []
}